<!DOCTYPE html>
</html>
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body id="backMenu">
        <header th:replace="layout/plantilla :: header"></header>
        <center>
            <br><br><br><br><br><br>
            <img src="../images/Menu1.png" alt=""/>
            <br><br>
            <img src="../images/Menu2.png" alt=""/>
            <br><br>
        </center>
        <footer th:replace="layout/plantilla :: menu_informacion"></footer>
        <div id="menu_sombra"></div>
    </body>
</html>
